<div>
  <div>
    <h5>
      Prueba moderar el extremismo de tu red social siguiendo los siguientes
      pasos
    </h5>
    <div class="steps-container">
      <div>
        <p>1. Sube el archivo</p>
        <div class="upload-button">
          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            style="display: none"
          />
          <button
            mat-raised-button
            color="primary"
            class="square-button upload-button"
            (click)="triggerFileInput()"
          >
            <mat-icon>upload</mat-icon>
            Subir Archivo
          </button>
          <div style="height: 20px">
            <p *ngIf="selectedFile" matTooltip="{{ selectedFile.name }}">
              Archivo cargado: {{ truncatedFileName  }}
            </p>
          </div>
        </div>
      </div>
      <div>
        <p>2. Selecciona el algoritmo</p>
        <div class="form-field-container">
          <mat-form-field appearance="fill">
            <mat-label>Algoritmo</mat-label>
            <mat-select
              [(ngModel)]="selectedAlgorithm"
              (selectionChange)="onAlgorithmSelected()"
            >
              <mat-option value="fb">Fuerza Bruta</mat-option>
              <mat-option value="pd">Dinámico</mat-option>
              <mat-option value="pv">Voraz</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <p>3. Haz clic para moderar</p>
        <button
          mat-flat-button
          [disabled]="!isReadyToModerate"
          (click)="moderate()"
          class="square-button moderate-button"
        >
          <mat-icon>refresh</mat-icon>
          Moderar red social
        </button>
      </div>
      <div>
        <p>4. Descarga la información</p>
        <button
          mat-flat-button
          [disabled]="!resultado.length"
          (click)="downloadFile()"
          class="square-button download-button"
        >
          <mat-icon>download</mat-icon>
          Descargar archivo
        </button>
      </div>
    </div>
    
  <div class="">
    <div class="steps-container" >
      <div>
        <ng-container *ngIf="isReadyToModerate">
          <mat-card class="result-card">
            <mat-card-header>
              <mat-card-title>
                Archivo cargado: {{ selectedFile?.name }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; overflow-y: auto">
              <p><strong>Número de agentes:</strong> {{ numeroAgentes }}</p>
              <p><strong>Rmax:</strong> {{ rMax }}</p>
              <p><strong>Lista de agentes:</strong></p>

              <p *ngFor="let agente of agentes; let i = index">
                <strong>Agente {{ i + 1 }}:</strong><br> Opinión:
                {{ agente.opinion }}, Receptividad: {{ agente.receptividad }}
              </p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="mostrarResultado">
          <mat-card *ngFor="let item of resultado" class="result-card">
            <mat-card-header>
              <mat-card-title>Resultado</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Algoritmo:</strong> {{ item.algoritmo }}</p>
              <p><strong>Esfuerzo Total:</strong> {{ item.esfuerzoTotal }}</p>
              <p><strong>Extremismo:</strong> {{ item.extremismoModelaro }}</p>
              <p><strong>Tiempo (ms):</strong> {{ item.tiempoEjecucion }}</p>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <ng-container *ngIf="mostrarResultado">
          <mat-card class="result-card">
            <mat-card-header>
              <mat-card-title>Lista de Agentes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list style="max-height: 257px; overflow-y: auto">
                <mat-list-item *ngFor="let agente of agentesResultado">
                  <span>
                    <strong>{{ agente.nombre }}</strong>: 
                    <span [ngClass]="agente.estado === 'Sí' ? 'estado-si' : 'estado-no'">
                      {{ agente.estado }}
                    </span>
                  </span>                  
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
