/* Estilos globales para el título */
.custom-title {
  font-family: 'Roboto', sans-serif; /* Fuente personalizada */
  font-size: 2.5rem; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  color: #192e49; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
  margin-bottom: 1rem; /* Espacio debajo del título */
}
